    <a href="{{site.baseurl}}/chains.html">CountChain & AdChain</a>
  <a href="{{site.baseurl}}/gas_gauge.html">Gas Gauge</a>
  <a href="{{site.baseurl}}/mpro.html">MPro</a>
  <a href="{{site.baseurl}}/attack.html">Attack Resistance</a>
  <div class="dropdown">
    <a href="{{site.baseurl}}/attack.html" class="dropbtn">Attack Resistance</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/attack/publications.html">Publications</a>
      <a href="{{site.baseurl}}/attack/people.html">People</a>
    </div>
  </div>
</div>
